body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: #333;
	font-size: 100%;
	max-width: 980px;
	margin: 0 auto;
}

img {
	width: 100%;
}

a {
  text-decoration: none;
  color: #007eb6;
}

nav ul {
	padding: 0;
	list-style: none;
	display: flex;
}

nav ul a {
	padding: 1rem;
}

article {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.ajax button {
	border: none;
	padding: 0.5rem 1rem;
	background: #007eb6;
	color: #fff;
	border-radius: 4px;
	font-size: 1rem;
}

.ajax .content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.item {
  border-bottom: 1px dashed #aaa;
}