<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Template</title>
</head>
<body>

  <nav>
    <ul>
    {% for nav in collections.nav %}
      <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
    {%- endfor -%}
    </ul>
  </nav>

  <h1>{{ pageTitle }}</h1>
  
  {{ content }}

</body>
</html>
