<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->

   <link rel="stylesheet" href="/css/styles.css">
  <title>My Blog</title>
</head>
<body class="{{ pageClass }}">

<nav>
<ul>
{% for nav in collections.nav %}
  <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navTitle }}</a></li>
{%- endfor -%}
</ul>
</nav>

<h1>{{ pageTitle }}</h1>

{{ content }}

<p><a href="https://github.com/front-end-foundations/7-ajax-11ty/tree/spring2019-done/{{ page.inputPath }}" target="_blank">Edit this page on GitHub</a></p>

<script src="/js/scripts.js" ></script>

</body>
</html>